<mat-toolbar>
  <a [routerLink]="['/']">
    <span>Circle</span>
  </a>
  <div class="fill-space"></div>
  <ng-template [ngIf]="!!this.user">
    <mat-slide-toggle
      (change)="this.toggleHDPictures()"
      [color]="'primary'"
      [checked]="!this.hdPictures"
      class="toggle"
      >HD Pictures</mat-slide-toggle
    >
    <button
      mat-fab
      (click)="this.toggleSidenav()"
      [style.background-image]="'url(' + this.user.picture + ')'"
      class="profilepic"
    ></button>
  </ng-template>
</mat-toolbar>
