<mat-toolbar>
  <a [routerLink]="['/']">
    <img src="assets/circle.svg" style="width: 100%; height: auto;" />
  </a>
  <span style="flex: 1 1 auto"></span>
  <button mat-button [color]="'primary'" (click)="installPwa()">Install</button>
  <ng-template [ngIf]="!!this.user">
    <mat-slide-toggle
      (change)="this.toggleHDPictures()"
      [color]="'primary'"
      [checked]="!this.hdPictures"
      class="toggle"
      >HD Pictures</mat-slide-toggle
    >
    <button
      mat-fab
      (click)="this.toggleSidenav()"
      [style.background-image]="'url(' + this.user.picture + ')'"
      class="profilepic"
    ></button>
  </ng-template>
</mat-toolbar>
