<div>
    <ng-template [ngIf]="!!comments && comments.length > 0">
        <mat-list *ngFor="let comment of comments">
            <mat-list-item>
                <a class="commentor">{{ comment.commenter }}</a>
            </mat-list-item>
            <mat-divider [inset]="true"></mat-divider>
        </mat-list>
    </ng-template>
    <div class="padding">
        <form [formGroup]="commentForm" (ngSubmit)="submitComment()">
            <mat-form-field appearance="fill">
                <mat-label>Comment</mat-label>
                <textarea 
                formControlName="comment"
                class="textarea"
                matInput
                cdkTextareaAutosize
                ></textarea>
            </mat-form-field>
        </form>
    </div>
</div>
