<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <div
        mat-card-avatar
        [style.background-image]="'url(' + this.user.picture + ')'"
        class="header-image"
      ></div>
      <mat-card-title>{{ this.user.username }}</mat-card-title>
      <mat-card-subtitle>
        <mat-form-field>
          <mat-label>
            Location
          </mat-label>
          <input matInput type="text" formControlName="location" />
        </mat-form-field>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <button
        mat-raised-button
        color="primary"
        (click)="fileInput.click()"
      >Choose image</button>
      <input
        hidden
        #fileInput
        type="file"
        id="image"
        (change)="fileChange($event)"
        placeholder="Upload Image"
        accept=".png,.jpeg,.gif"
      />
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput type="text" formControlName="description" />
      </mat-form-field>
      <button mat-raised-button color="primary">
        Post
      </button>
    </mat-card-content>
  </mat-card>
</form>
