<div class="padding">
    <mat-card class="card">
        <ng-template [ngIf]="!!this.poster">
        <mat-card-header>
                <div
                mat-card-avatar
                [style.background-image]="'url(' + this.poster.profilePictureURL + ')'"
                class="header-image"
                ></div>
                <mat-card-title>{{ this.poster.username }}</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
        </ng-template>
        <ng-template [ngIf]="!!this.imageUrl">
            <img
            mat-card-image
            src="{{ this.imageUrl }}"
            />
        </ng-template>
        <mat-card-content>
            <p>
                {{ this.description }}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button
                (click)="toggleFavorited()"
                matBadge="{{ getLikes() }}"
                [matBadgeHidden]="numberOfLikesHidden()"
                matBadgePosition="above after"
                matBadgeColor="accent"
                mat-icon-button
                color="{{ isFavorited() ? 'warn' : 'white' }}"
                aria-label="Favorite"
            >
                <mat-icon>favorite</mat-icon>
            </button>
            <button
                (click)="toggleExpanded()"
                mat-button
                matBadge="{{ getNumberOfComments() }}"
                matBadgePosition="above after"
                matBadgeColor="accent"
            >
                COMMENT
            </button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
        <ng-template [ngIf]="expanded">
            <circle-comments [comments]="this.comments"></circle-comments>
        </ng-template>
    </mat-card>
</div>
