<circle-header [user]="this.user" #header></circle-header>

<mat-sidenav-container mode="push" hasBackdrop="false">
  <mat-sidenav
    [fixedInViewport]="true"
    [fixedTopGap]="56"
    [position]="'end'"
    [opened]="header.sidenavOpen"
  >
    <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="1em">
      <button routerLink="/" mat-raised-button color="accent">
        Home
      </button>
      <button mat-raised-button color="accent" (click)="this.auth.login()">
        Login
      </button>
      <button mat-raised-button color="accent" (click)="this.auth.logout()">
        Logout
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
