<circle-header></circle-header>
<circle-new-post-button [user]="this.loggedInUser"></circle-new-post-button>
<ng-template [ngIf]="this.newPosts">
  <button class="refresh" mat-fab color="primary" (click)="this.getPosts()">
    <mat-chip>{{this.newPosts}} new posts</mat-chip>
  </button>
</ng-template>
<div *ngFor="let post of posts">
  <circle-post [loggedInUser]="this.loggedInUser" [post]="post"></circle-post>
</div>
<div infiniteScroll [infiniteScrollDistance]="1" (scrolled)="onScroll()"></div>
