<div>
  <ng-template [ngIf]="comments && comments.length > 0">
    <mat-divider [inset]="true"></mat-divider>
    <mat-list *ngFor="let comment of comments">
      <ng-template [ngIf]="comment.commenter">
        <mat-list-item>
          <a
            [href]="'/profile/' + comment.commenter.username"
            [ngStyle]="{ color: 'inherit', 'text-decoration': 'none' }"
          >
            <p>
              {{ comment.commenter.username }}
            </p>
          </a>
          <div class="space"><p>:</p></div>
          <p>{{ comment.comment }}</p>
        </mat-list-item>
      </ng-template>
      <mat-divider [inset]="true"></mat-divider>
    </mat-list>
  </ng-template>
  <div class="padding">
    <form [formGroup]="commentForm" (ngSubmit)="submitComment()">
      <mat-form-field appearance="fill">
        <mat-label>Comment</mat-label>
        <textarea
          formControlName="comment"
          class="textarea"
          matInput
          cdkTextareaAutosize
        ></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
